{% extends 'dashboard/base.html' %}
{% block page_title %}Accueil{% endblock %}
{% load static %}
{% block page_container %}
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img src="{% static 'dashboard/images/icon/logo.png' %}" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a class="js-arrow" href="{% url 'dashboard_sp:home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="active has-sub">
                        <a href="{% url 'dashboard_sp:campagne' %}"><i class="fas fa-table"></i>Campagne</a>
                    </li>
                    <li>
                        <a href="chart.html"><i class="fas fa-chart-bar"></i>Bilan</a>
                    </li>
                    <li>
                        <a href="table.html"><i class="zmdi zmdi-settings"></i>Parametre</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="{% static 'dashboard/images/icon/logo.png' %}" alt="CoolAdmin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a class="js-arrow" href="{% url 'dashboard_sp:home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="active has-sub">
                        <a href="{% url 'dashboard_sp:campagne' %}"><i class="fas fa-table"></i>Campagne</a>
                    </li>
                    <li>
                        <a href="chart.html"><i class="fas fa-chart-bar"></i>Bilan</a>
                    </li>
                    <li>
                        <a href="table.html"><i class="zmdi zmdi-settings"></i>Parametre</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div></div>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 3 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 img-cir img-40">
                                                <i class="zmdi zmdi-email-open"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a email notification</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c2 img-cir img-40">
                                                <i class="zmdi zmdi-account-box"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your account has been blocked</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c3 img-cir img-40">
                                                <i class="zmdi zmdi-file-text"></i>
                                            </div>
                                            <div class="content">
                                                <p>You got a new file</p>
                                                <span class="date">April 12, 2018 06:50</span>
                                            </div>
                                        </div>
                                        <div class="notifi__footer">
                                            <a href="#">All notifications</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="{% static 'dashboard/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{username}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{% static 'dashboard/images/icon/avatar-01.jpg' %}" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{username}}</a>
                                                </h5>
                                                <span class="email">{{email}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="#"><i class="zmdi zmdi-account"></i>Compte</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="#"><i class="zmdi zmdi-settings"></i>Parametre</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="{% url 'dashboard_sp:disconnect' %}"><i class="zmdi zmdi-power"></i>Se Déconnecter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <h3 class="title-5 m-b-35">Mes Campagnes</h3>
                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                                <div class="rs-select2--light rs-select2--md">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">All Properties</option>
                                        <option value="">Option 1</option>
                                        <option value="">Option 2</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">Today</option>
                                        <option value="">3 Days</option>
                                        <option value="">1 Week</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <button class="au-btn-filter">
                                    <i class="zmdi zmdi-filter-list"></i>filters</button>
                            </div>
                            <div class="table-data__tool-right">    
                                <button type="button" class="au-btn au-btn-icon au-btn--green au-btn--small mb-1" data-toggle="modal" data-target="#mediumModal">
                                    <i class="zmdi zmdi-plus"></i>Ajouter</button>
                            </div>
                            
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                    <tr>
                                        <th>title</th>
                                        <th>description</th>
                                        <th>date</th>
                                        <th>status</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data %}
                                        <tr class="tr-shadow">
                                            <td>{{item.title}}</td>
                                            <td class="desc">{{item.description}}</td>
                                            <td>{{item.start_date}}</td>
                                            <td><span class="status--process">{{item.state}}</span></td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a href="{% url 'dashboard_sp:detail' cmp_id=item.id %}" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
            <!-- modal medium -->
            <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="mediumModalLabel">
                                Ajout d'une nouvelle campagne
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card-body card-block">
                                <form action="" method="post">
                                    {% csrf_token %} 
                                    {% for field in form %}
                                        <div class="form-group">
                                            {{ field.errors }}
                                            {{ field.label_tag }} {{ field }}
                                        </div>
                                    {% endfor %}
                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Ajouter la campagne</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal medium -->
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
{% endblock %}