{% extends 'dashboard/init_template.html' %}
{% block page_title %}Detail{% endblock %}
{% block app_container %}
    <!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <div class="user-data m-b-30">
                    <h3 class="title-3 m-b-30">
                        <i class="zmdi zmdi-account-calendar"></i>{{campagne.title}}</h3>
                    <div class="card-body card-block">
                        <p>
                            Description<br>
                            <strong>{{campagne.description}}</strong></p>
                        <p>
                            Date de démarrage<br>
                            <strong>{{campagne.start_date}}</strong></p>
                        <p>
                            Date de cloture<br>
                            <strong>{{campagne.close_date}}</strong></p>
                        <p>
                            Statue de la campagne<br>
                            <strong>{{campagne.state}}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="au-btn au-btn-icon au-btn--green au-btn--small mb-1" data-toggle="modal" data-target="#mediumModal">
                            <i class="zmdi zmdi-plus"></i>Ajouter un objectif</button>
                    </div>
                </div>
                <!-- END DATA TABLE -->
                <!-- DATA TABLE -->
                <div class="user-data m-b-30">
                    <h3 class="title-3 m-b-30">
                        Listes des objectifs</h3>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Titre</td>
                                        <td>Message</td>
                                        <td>Statu</td>
                                        <td>Options</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in data_objectif %}
                                        <tr>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>{{item.title}}</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>{{item.message}}</h6>
                                                </div>
                                            </td>
                                            <td>
                                                {% if item.is_publish %}
                                                    <span class="role member">Publié</span>
                                                {% else %}
                                                    <span class="role admin">{{item.is_publish}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="more">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </span>
                                                <span class="more">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
        <!-- modal medium -->
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mediumModalLabel">
                        Ajout d'un nouveau objectif
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body card-block">
                        <form action="" method="post">
                            {% csrf_token %} 
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                </div>
                            {% endfor %}
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Ajouter</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal medium -->
</div>
<!-- END MAIN CONTENT-->
{% endblock %}  