{% extends 'dashboard/init_template.html' %}
{% block page_title %}Detail{% endblock %}
{% load static %}
{% block app_container %}
    <!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <div class="user-data m-b-30">
                    <h3 class="title-3 m-b-30">
                        <i class="zmdi zmdi-account-calendar"></i>{{campagne.title}}</h3>
                    <div class="card-body card-block">
                        <p>
                            Description<br>
                            <strong>{{campagne.description}}</strong></p>
                        <p>
                            Date de démarrage<br>
                            <strong>{{campagne.start_date}}</strong></p>
                        <p>
                            Date de cloture<br>
                            <strong>{{campagne.close_date}}</strong></p>
                        <p>
                            Statue de la campagne<br>
                            <strong>{{campagne.state}}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="au-btn au-btn-icon au-btn--green au-btn--small mb-1" data-toggle="modal" data-target="#mediumModal">
                            <i class="zmdi zmdi-plus"></i>Ajouter un objectif</button>
                    </div>
                </div>
                <!-- END DATA TABLE -->
                <!-- DATA TABLE -->
                <div class="user-data m-b-30">
                    <h3 class="title-3 m-b-30">
                        Données à postés</h3>
                        <div class="table-responsive table-data">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Titre</td>
                                        <td>Message</td>
                                        <td>Statu</td>
                                        <td>Options</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in posts %}
                                        <tr>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>{{item.title}}</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>{{item.message}}</h6>
                                                </div>
                                            </td>
                                            <td>
                                                {% if item.is_publish %}
                                                    <span class="role member">Publié</span>
                                                {% else %}
                                                    <span class="role admin">{{item.is_publish}}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <span class="more">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </span>
                                                <span class="more">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
        <!-- modal medium -->
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="mediumModalLabel">
                        Ajouter une données à poster
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %} 
                            <div class="form-group">
                                {{ form.title.label_tag }}
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.poste_date.label_tag }}
                                        {{ form.poste_date }}
                                        {{ form.poste_date.errors }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form.poste_heure.label_tag }}
                                        {{ form.poste_heure }}
                                        {{ form.poste_heure.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="default-tab">
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Simple message</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Multi-media</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="form-group">
                                                {{ form.message.label_tag }}
                                                {{ form.message }}
                                                {{ form.message.errors }}
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="row">
                                                <div class="form-group">
                                                    {{ form.data_file.label_tag }}
                                                    {{ form.data_file }}
                                                    {{ form.data_file.errors }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="media_message">Message</label>
                                                    <textarea name="media_message" cols="40" rows="3" class="au-input au-input--full" placeholder="Saisissez un joie message pour vos internautes " maxlength="500" id="media_message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Ajouter</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modal medium -->
</div>
<!-- END MAIN CONTENT-->
{% endblock %}  