{% extends 'dashboard/base.html' %}
{% block page_title %}{% endblock %}
{% load static %}
{% block page_container %}
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img class="logo" src="{% static 'dashboard/images/icon/logo.png' %}" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a class="js-arrow" href="{% url 'dashboard_sp:home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="active has-sub">
                        <a href="{% url 'dashboard_sp:campagne' %}"><i class="fas fa-table"></i>Campagne</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_sp:bilan' %}"><i class="fas fa-chart-bar"></i>Bilan</a>
                    </li>
                    <li class="js-arrow open">
                        <a href="#"><i class="zmdi zmdi-settings"></i>Parametre</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: block;">
                            <li>
                                <a href="{% url 'dashboard_sp:config' %}">Général</a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard_sp:edit_login' %}">Compte</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img class="logo" src="{% static 'dashboard/images/icon/logo.png' %}" alt="CoolAdmin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a class="js-arrow" href="{% url 'dashboard_sp:home' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_sp:campagne' %}"><i class="fas fa-table"></i>Campagne</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_sp:bilan' %}"><i class="fas fa-chart-bar"></i>Bilan</a>
                    </li>
                    <li class="js-arrow open">
                        <a href="#"><i class="zmdi zmdi-settings"></i>Parametre</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: block;">
                            <li>
                                <a href="{% url 'dashboard_sp:config' %}">Général</a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard_sp:edit_login' %}">Compte</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <div></div>
                        <div class="header-button">
                            <div class="noti-wrap">
                                <div class="noti__item js-item-menu">
                                    <i class="zmdi zmdi-notifications"></i>
                                    <span class="quantity">3</span>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div id="notification">

                                        </div>
                                        <div class="notifi__footer">
                                            <a href="{% url 'dashboard_sp:home' %}">Actualiser</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="{% static 'dashboard/images/icon/avatar-01.png' %}" alt="John Doe" />
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">{{username}}</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="{% static 'dashboard/images/icon/avatar-01.png' %}" alt="John Doe" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">{{username}}</a>
                                                </h5>
                                                <span class="email">{{email}}</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="{% url 'dashboard_sp:edit_login' %}"><i class="zmdi zmdi-account"></i>Compte</a>
                                            </div>
                                            <div class="account-dropdown__item">
                                                <a href="{% url 'dashboard_sp:config' %}"><i class="zmdi zmdi-settings"></i>Parametre</a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="{% url 'dashboard_sp:disconnect' %}"><i class="zmdi zmdi-power"></i>Se Déconnecter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        {% block app_container %}
        {% endblock %}    
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
{% endblock %}

{% block ajax_block %}
<!-- <script src="{% static 'dashboard/js/campagne-ctrl.js' %}"></script> -->
<script>
    (()=>{
        var dataLenght = 0
        document.querySelector('.quantity').textContent = dataLenght
        setInterval(
            ()=>$.ajax({
                url: "{% url 'dashboard_sp:fb_query' %}",
                data:{
                    'query':'execute'
                },
                dataType: 'json',
                success: function (data) {
                  if (data.statu === "success") {
                    const notification = document.getElementById('notification')
                    if (dataLenght < data.message.length){
                      dataLenght = data.message.length
                      let cpt = 0
                      document.querySelector('.quantity').textContent = dataLenght
                      notification.innerHTML = ''
                      for (item of data.message){
                        cpt++
                        if (cpt <= 3){
                          let div = document.createElement('div')
                          div.innerHTML = ''+
                            '<div class="notifi__item">'+
                            '<div class="bg-c1 img-cir img-40">'+
                            '<i class="zmdi zmdi-email-open"></i></div>'+
                            '<div class="content">'+
                            '<p>'+item+'</p>'+
                            '<span class="date">Publié sur votre page facebook</span>'
                            '</div></div>'
                            notification.appendChild(div)
                        }
                      }
                      cpt = 0 
                    }
                  } else console.log(data.message)
                }
              })
            , 5000)
    })()
</script>
{% endblock%}
    