{%  extends 'dashboard/base.html' %}
{% block page_title %}Inscription{% endblock %}
{% load static %}
{% block page_container %}
<div class="page-content--bge5">
    <div class="container">
        <div class="login-wrap">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <img class="logo" src="{% static 'dashboard/images/icon/logo.png' %}" alt="CoolAdmin">
                    </a>
                </div>
                {% if error %}
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        <span class="badge badge-pill badge-danger">Erreur</span><br>
                        {% for item in error.values %}
                            <i>{{item}}</i><br>
                        {%endfor%}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endif %}
                <div class="login-form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                            </div>
                        {% endfor %}
                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Je m"enregistre</button>
                        <div class="social-login-content">
                            <div class="social-button">
                                <button id="register_fb" class="au-btn au-btn--block au-btn--blue m-b-20">Inscription via Facebook</button>
                            </div>
                        </div>
                    </form>
                    <div class="register-link">
                        <p>
                            Avez vous déjà un compte?
                            <a href="{% url 'login' %}">Je me connecte</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block ajax_block %}
    <script>

        window.fbAsyncInit = function() {
            FB.init({
              appId      : '1044498892617544',
              cookie     : true,                     // Enable cookies to allow the server to access the session.
              xfbml      : true,                     // Parse social plugins on this webpage.
              version    : 'v6.0'           // Use this Graph API version for this call.
            })
        }

        document.getElementById('register_fb').addEventListener('click', (event)=>{
            event.stopImmediatePropagation()

            FB.login(response => {
                if (response.status === 'connected') {
                    const auth = response.authResponse
                    FB.api('/me','GET',{"fields":"email"},
                        function(data) {
                            console.log(data);
                            var email = document.getElementById('id_email')
                            email.value = data.email
                            email.setAttribute('disabled', true)
                        }
                    )
                } 
            }, {scope: 'public_profile, email'})
        })
    </script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock%}